// ---------------------
//     BASE
// ---------------------

    // *--------- LAYOUT ---------*

    // *--------- COLORS ---------*
    $base__color: #101010;
    $base__color--active: lighten($base__color, 40);
    $second__color: #fff;
    $second__color--active: darken($second__color, 20);
    $third__color: #ED4C5C;
    $fourth__color: #FAFAFA;
    $fifth__color: #000000;