// -------------------------------
//     CONTENT VARIABLES
// -------------------------------

    // *--------- TYPOGRAPHY ---------*
    $counter__font-size: 10rem;

    // *--------- COLORS ---------*
    $counter__color: rgba(16,16,16,0.08);

// ----------------------------
//     CONTENT STYLES
// ----------------------------

.section-overview, .section-features {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    text-align: center;
}

.section-overview {
    padding: 6.3rem 0 12.4rem;

    background-color: $fourth__color;
}

.section-overview__list, .section-features__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

    .section-overview__item {
        max-width: 35rem;
        text-align: center;
    }
        .section-overview__item-container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

.section-overview__item-text {
    width: 84%;
    margin-top: -5.5rem;
    padding: 3.3rem 3.2rem;

    background-color: $second__color;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: .8rem;
}

.section-overview__item-text, .section-features__item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: $font-size--small;
    font-weight: $font-weight;
}

    .section-overview__item-title, .section-features__item-title {
        color: $base__color;
    }

.section-overview__item-more {
    margin-top: 2.5rem;
    font-size: $font-size--small;
    font-weight: $font-weight--bold;
    color: $third__color;
}

.section-features {
    padding: 6.3rem 0 10.4rem;
    counter-reset: item;
}

    .section-features__item {
        max-width: 25.5rem;
        text-align: center;
    }
        .section-features__item-img {
            display: flex;
            justify-content: center;
            position: relative;

            margin-bottom: 1rem;
            padding-top: 2.8rem;
        }

        .section-features__item-img::before {
            counter-increment: item;
            content: "0" counter(item);
            position: absolute;

            line-height: 0;
            font-size: $counter__font-size;
            font-weight: $font-weight--bold;
            color: $counter__color;
        }

        .section-features__image {
            position: relative;
            z-index: 1;
        }

.section-download {
    background-color: $third__color;

    &__wrapper {
        align-items: center;
    }

    &__col-text {
        max-width: 44.5rem;

        color: $second__color;
    }
}

.section-download, .section-contact {
    padding: 9.4rem 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__desc {
        margin-bottom: 4.4rem;

        text-align: justify;
    }

    &__icons {
        display: flex;
        justify-content: start;
    }

    &__item-icon {
        margin-right: 2.5rem;

        color: $second__color;
        font-size: $font-size--large;

        &:hover {
            color: $second__color--active;
        }
    }
}

.section-contact {
    &__wrapper {
        align-content: flex-start;
    }

    &__col-text {
        max-width: 43.5rem;

        color: $fifth__color;
    }
}

@media only screen and (max-width: 1199px) {
    section {
        padding: 4rem;
    }

    .section-download, .section-contact {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__col-text {
            margin-bottom: 5rem;
        }
    }

}
@media only screen and (max-width: 768px) {
    .section-overview, .section-features {
        &__list {
            justify-content: center;
        }

        &__item {
            margin-bottom: 5rem;
        }
    }
}